---
title: Welcome to Middleman
---
<%= partial 'partials/header' %>
<div id="book-container">
  <div id="book-wrap">
    <div class="t">
      <div class="tc rel">
        <div class="book" id="book">
            <!-- blank for open book -->
            <div class="page">
              <div class="overlay oddlay"></div>
            </div>
            <%= partial 'partials/front' %>
            <%= partial 'partials/toc' %>
            <%= partial 'partials/natureofthebeast' %>
            <%= partial 'partials/communionofthecursed' %>
            <%= partial 'partials/bloodbath' %>
            <%= partial 'partials/plotsickens' %>
            <%= partial 'partials/starcrossed' %>
            <%= partial 'partials/memyselfandhyde' %>
            <%= partial 'partials/alice' %>
            <%= partial 'partials/peopleintheattic' %>
            <%= partial 'partials/tesstimony' %>
            <%= partial 'partials/hellinthehallways' %>
            <%= partial 'partials/bookend' %>
        </div>
      </div>
    </div>
  </div>
  <div id="book-background">
    <img class="full-w" src="https://s3.amazonaws.com/myfangate.com/iceninekills/lightbgbook.jpg">
  </div>
  <div id="book-navigation">
    <div id="prev-button">
      <img src="https://s3.amazonaws.com/myfangate.com/iceninekills/previousbutton.png">
    </div>
    <div id="next-button">
      <img src="https://s3.amazonaws.com/myfangate.com/iceninekills/nextbutton.png">
    </div>
  </div>
</div>
<%= partial 'partials/mobilecontest' %>
